//Anax-Flat Theme
@import url(base.less);
//backgroundcolor
@back_color: inherit;
@back_color_footer: inherit;
@back_colorHeader: inherit;
@bgMain: inherit;
//text_color
@text_color: #000000;
@htextColor: @text_color;
@headertextColor: @text_color;
@text_colorFooter: @text_color;
@linkColor: @text_color;
@linkColorHeader: @linkColor;

@navbarItemSelectedBgColor: @back_colorHeader;
@navbarItemHoverBgColor: @back_colorHeader;
@navbarItemHoverColor: @back_colorHeader;
@maxButtonFontSize: 1.5em;


html {
    color: @text_color;
    background-color: @back_color;
}

.inner-wrap-header {
        background-color: @back_colorHeader;
        color: @headertextColor;
        a {
            color: @linkColorHeader;
        }
}

.main {
    background-color: @bgMain;
}

h1, h2, h3, h4, h5, h6 {
    color: @htextColor;
}

.outer-wrap-footer {
    background-color: @back_color_footer;
    color: @text_colorFooter;
}

a {
    color: @linkColor;
}
